@import '~Styles/_imports.scss';

.SidePanel {
  position: fixed;
  z-index: index($elements, modal) - 1;
  background-color: $white;
  width: 270px;
  right: 0px;
  top: 185px;
  bottom: 0px;

  

  &--sticky{
    top: 110px;
  }
}
