@import '~Styles/_imports.scss';


.WarningoolTip__pointer{
  position: absolute;
  z-index: index($elements, popup) + 1;

  animation: slide-down-fade-in forwards .25s;
}

.Tooltip__position {
  &--top {
    .WarningoolTip__pointer{
      @include triangle('down', 7px, $jet);
    }
  }

  &--bottom {
    .WarningoolTip__pointer{
      @include triangle('up', 7px, $jet);
    }
  }

  &--right {
    .WarningoolTip__pointer{
      @include triangle('left', 7px, $jet);
    }
  }

  &--left {
    .WarningoolTip__pointer{
      @include triangle('right', 7px, $jet);
    }
  }
}

.WarningToolTip__message{
  position: absolute;
  z-index: index($elements, popup);

  width: 350px;
  padding: 5px;

  user-select: none;
  animation: slide-down-fade-in forwards .25s;
  text-align: center;
  white-space: pre-line;
  word-break: normal;

  color: $white;
  border-radius: 8px;
  background: $jet;

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  @include boxShadow();
}
